@font-face {
    font-family: "ethMatch";
    src: url("/public/fonts/ethMatch.ttf") format("truetype");
}
body {
    overflow-y: auto;
	font-family: 'ethMatch';
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
	color: white;
	text-align: center;
}

.page {
    margin-top: 20px;
}



.page.game button {
    margin-bottom: 10px;
}

#page-lobby {
    display: none;
}

#page-game {
    display: none;
}

.circle {
    background-color: green;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.circle.offline {
    background-color: yellow;
}
